.definition {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.term {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.term:hover .definition {
    visibility: visible;
    opacity: 1;
}