.DS_Store

# Created by https://www.gitignore.io/api/kicad
# Edit at https://www.gitignore.io/?templates=kicad

### KiCad ###
# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.sch-bak
*-rescue.lib
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
# *.csv

### KiCad Patch ###
escue-backup/

*.tsv
# bom/

# Gerber export output
out/

# End of https://www.gitignore.io/api/kicad

## removing GIMP files
*.xcf

## removing virtual environments
venv/

## removing vs code workspaces
*.code-workspace

## removing freecad autosaves
*.FCStd?

## Removing vim swp files
*.swp

# Hide The Exports
**/pcb/**/export
