.DS_Store

## removing GIMP files
*.xcf

## removing virtual environments
venv/

## removing exports
out/

## removing vs code workspaces
*.code-workspace

## removing freecad autosaves
*.FCStd?

## removing kicad backupts
*-backups/

## removing kicad locks
*.lck

## Auto Generated Code
doc/public
doc/node_modules
doc/resources

## Removing vim swp files
*.swp

# Hide The Exports
**/pcb/**/export
**/out*

# Hide STL models
pnp/cad/3D-Prints/*.stl

# hide the wireviz exports
pnp/cad/CHA/**/*.png
pnp/cad/CHA/**/*.svg

# hides autobom experimentation
autobom.json
bom.json
