# kicad locking

*.sch -text lockable
*.kicad_pcb -text lockable
*fp-info-cache -text lockable
*fp-lib-table -text lockable
*sym-lib-table -text lockable
*.wrl -text lockable
*.dcm -text lockable
*.kicad_wks -text lockable
*.kicad_mod -text lockable
*.pro -text lockable
*.lib -text lockable


# freecad locking

*.FCStd lockable

# 3D Printing exports
*.stl

# OpenPnP
openpnp/machine.xml -text lockable
openpnp/packages.xml -text lockable
openpnp/parts.xml -text lockable
