*.sch filter=lfs diff=lfs merge=lfs -text lockable
*.pro filter=lfs diff=lfs merge=lfs -text lockable
*.lib filter=lfs diff=lfs merge=lfs -text lockable
*.kicad_pcb filter=lfs diff=lfs merge=lfs -text lockable
*fp-info-cache filter=lfs diff=lfs merge=lfs -text lockable
*fp-lib-table filter=lfs diff=lfs merge=lfs -text lockable
*sym-lib-table filter=lfs diff=lfs merge=lfs -text lockable
*.wrl filter=lfs diff=lfs merge=lfs -text lockable
*.dcm filter=lfs diff=lfs merge=lfs -text lockable
*.kicad_wks filter=lfs diff=lfs merge=lfs -text lockable
*.kicad_mod filter=lfs diff=lfs merge=lfs -text lockable
